/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure the body or html is not centering the content */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}
